
*{
    font-family: sans-serif;
}

.container{
    margin: 0;
    padding: 0;
}

div.container{
    display: flex;
}

div.left-side{
    background-color: #000000;
    color: rgb(196, 194, 194);
    width: 285px;
    height: 100vh;
}

.top ul{
    list-style: none;
    padding-left: 20px;
}

.top img{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.playlists{
    padding: 20px;
}

a{
    color: rgb(116, 116, 116); 
    text-decoration: none;
    transition-duration: 0.5s;
    font-size: 15px;
    font-weight: 550;
    margin: 5px;
}

a:hover{
    color: white;
    transition-duration: 0.5s;
    cursor: pointer;
}

.top li{
    padding: 8px;
}

.header{
    display: flex;
    color: rgb(116, 116, 116);
    padding-bottom: 10px;
    padding-left: 60px;
}

.type{
    text-transform: uppercase;
}

.song{
    padding-left: 15px;
}

/* .center{
    width:;
} */

.tracks ul:hover{
    background-color: #474747;
    /* border: solid #474747; */
    border-radius: 20px;
}

.songName{
    width: 700px;
    padding-left: 35px;
}

.heart{
   padding-right: 10px; 
}

button{
    height: 10px;
    border-radius: 40%;
}

button:focus{
    background-color: #2d5;
}

.liked{
    padding-left: 650px;
}

.duration{
    padding-left: 250px;
    /* width: 100px; */
}

.border{
    border-bottom: 1px solid rgb(39, 39, 39);
    width: 180px;
    margin: 0 auto;
    padding: 5px;
}

.border_1{
    height: 1px;
    max-width: 1200px;
    border-bottom: 1px solid rgb(116, 116, 116); 
    margin: 0 auto;
    border-radius: 50%;
}

.album{
    width: 100%;
    display: flex;
flex-direction: column;
}

div.album-header{
    background-image: linear-gradient(180deg, #b32e09 ,#3b1203);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
}

.tracks{
    background-image: linear-gradient(180deg, #3b1203, #191414, #191414,#191414);
}

.album ul {
    text-decoration: none;
    display: flex;
    color: white;
}

.album-img img{
    margin: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.tracks{
    height: 100%;
    padding-top: 20px;
}

.tracks ul div{
    padding-top: 40px;
}

.album-info{
    padding-top: 100px;
    font-size: x-small;
    font-weight: 700;
    color: white;
}

.album-name{
    font-size: 65px;
    padding: 0;
    margin: 0;
}

/* -------------- */

/* * {
    box-sizing: border-box;
    font-family: "circular std book", sans-serif;
} */

body {
    margin: 0;
    padding: 0;
    background-color: #222;
    font-size: 14px;
}

.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    height: 7rem;
    padding: var(--padding);
    color: var(--primary-color);
}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container {
    --size: 4.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;
}
.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    cursor: pointer;
}
.title:hover,
.artist:hover {
    text-decoration: underline;
}
.artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    color: var(--secondary-color);
}
.control-buttons{
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    display: inline-block;
    padding: 1em;
    background-color: var(--primary-color);
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}
.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 4px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.progress-bar:hover .progress{
    background-color: var(--green-color);
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, calc(2px - 50%));
}
.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
}
.volume-bar .progress-bar{
    width: 6em;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
}