<link rel="stylesheet" href="login.component.css">

<header>
    <img src="../../../assets/images/01_RGB/02_PNG/Spotify_Logo_RGB_Black.png" alt="">
</header>

<p class="account">To continue, log in to Spotify.</p>

<div class="links">
    <a href="" class="fb"><img class="facebook" src="../../../assets/images/NicePng_facebook-black-png_903144.png" alt="">  CONTINUE WITH FACEBOOK</a>
    <a href="" class="apple"><img class="ap" src="../../../assets/images/white-apple-835x1024.png" alt=""> CONTINUE WITH APPLE</a>
    <a href="" class="google"> <img class="goog" src="../../../assets/images/5a35540277d9e6.8445514415134443544909.png" alt="">  CONTINUE WITH GOOGLE</a>
    <a [href]="getAuthenticationTestUrl()"> Auth testing</a>
</div>

<div class="or">
    <div class="border"></div>
    <div class="OR">OR</div>
    <div class="border"></div>
</div>

<div class="input">
    <p class="getInput">Email address or username</p>
    <input type="email" placeholder="Email address or username">
    <p class="getInput">Password</p>
    <input type="password" placeholder="Password" class="myInput">

    <!-- <div class="show">
        <p>
            <label>Show Password</label>
            <input type="checkbox" onclick="myFunction()" class="check">
        </p>
    </div> -->
    
    <div class="Forget">
        <a class="forget" href="">Forgot your password?</a>
    </div>
    <div class="button">
        <button type="submit">LOG IN</button>
    </div>
</div>

<div class="full-border"></div>

<div class="links">
    <p class="dont">Don't have an account?</p>
    <a href="" class="google">SIGN UP FOR SPOTIFY</a>
</div>
