<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2">
    <title>Bootstrap</title>
</head>
<body>
    <header>
        <img src="../../../images/01_RGB/02_PNG/Spotify_Icon_RGB_Black.png" alt="">
    </header>

    <p id="oturum">Devam etmek için Spotify'da oturum aç.</p>

    <div id="links">
        <a href="" id="fb">FACEBOOK İLE DEVAM ET</a>
        <a href="" id="apple">APPLE İLE DEVAM ET</a>
        <a href="" id="google">GOOGLE İLE DEVAM ET</a>
    </div>

    <div id="or">
        <div id="border"></div>
        <div id="veya">veya</div>
        <div id="border"></div>
    </div>

    <div id="input">
        <p id="aç">E-posta adresi veya kullanıcı adı</p>
        <input type="text" placeholder="E-posta adresi veya kullanıcı adı">
        <p id="aç">Parola</p>
        <input type="password" placeholder="Parola" id="myInput">
        <!-- <input type="checkbox" onclick="myFunction()">Show Password -->
        <div id="unut">
            <a id="forget" href="">Parolanı mı unuttun?</a>
        </div>
        <div id="button">
            <button type="submit">Oturum Aç</button>
        </div>
    </div>

    <div id="sınır"></div>

    <div id="links">
        <p id="yok">Hesabın yok mu?</p>
        <a href="" id="google">SPOTİFY İÇİN KAYDOL</a>
        <a href="https://accounts.spotify.com/authorize?client_id=28eae9b58df04f79b47821ee0a65bf15&scopes=playlist-read-private&response_type=code&redirect_uri=https%3A%2F%2Fwww.englishcentral.com%2Fbrowse%2Fvideos"> Auth deneme, Ozan don't kill me</a>
    </div>
    <script defer src="/script.js"></script>
</body>
</html>