<link rel="stylesheet" href="login.component.css">

<header>
    <img src="../../../images/01_RGB/02_PNG/Spotify_Logo_RGB_Black.png" alt="">
</header>

<p id="account">To continue, log in to Spotify.</p>

<div id="links">
    <a href="" id="fb"><img id="facebook" src="../../../images/NicePng_facebook-black-png_903144.png" alt="">  CONTINUE WITH FACEBOOK</a>
    <a href="" id="apple"><img id="ap" src="../../../images/white-apple-835x1024.png" alt=""> CONTINUE WITH APPLE</a>
    <a href="" id="google"> <img id="goog" src="../../../images/5a35540277d9e6.8445514415134443544909.png" alt="">  CONTINUE WITH GOOGLE</a>
    <a [href]="getAuthenticationTestUrl()"> Auth testing</a>
</div>

<div id="or">
    <div id="border"></div>
    <div id="OR">OR</div>
    <div id="border"></div>
</div>

<div id="input">
    <p id="getInput">Email address or username</p>
    <input type="email" placeholder="Email address or username">
    <p id="getInput">Password</p>
    <input type="password" placeholder="Password" id="myInput">

    <!-- <div id="show">
        <p>
            <label>Show Password</label>
            <input type="checkbox" onclick="myFunction()" id="check">
        </p>
    </div> -->
    
    <div id="Forget">
        <a id="forget" href="">Forgot your password?</a>
    </div>
    <div id="button">
        <button type="submit">LOG IN</button>
    </div>
</div>

<div id="full-border"></div>

<div id="links">
    <p id="dont">Don't have an account?</p>
    <a href="" id="google">SIGN UP FOR SPOTIFY</a>
</div>
