<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="app.component.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2">
    <title>Login - Spotify</title>
</head>
<body>
    <header>
        <img src="../images/01_RGB/02_PNG/Spotify_Logo_RGB_Black.png" alt="">
    </header>

    <p id="account">Sign in to Spotify to continue.</p>

    <div id="links">
        <a href="" id="fb"><img id="facebook" src="../images/facebook-icon-png-774.png" alt=""><p id="fbtext"> CONTINUE WITH FACEBOOK</p></a>
        <a href="" id="apple"><img id="ap" src="../images/5a354ef694c9a9.4930814115134430626094.png" alt=""> CONTINUE WITH APPLE</a>
        <a href="" id="google"> <img id="goog" src="../images/5a35540277d9e6.8445514415134443544909.png" alt=""> CONTINUE WITH GOOGLE</a>
        <a href="https://accounts.spotify.com/authorize?client_id=28eae9b58df04f79b47821ee0a65bf15&scopes=playlist-read-private&response_type=code&redirect_uri=http://localhost:4200/redirect"> Auth testing</a>
    </div>

    <div id="or">
        <div id="border"></div>
        <div id="OR">OR</div>
        <div id="border"></div>
    </div>

    <div id="input">
        <p id="getInput">Email address or username</p>
        <input type="email" placeholder="Email address or username">
        <p id="getInput">Password</p>
        <input type="password" placeholder="Password" id="myInput">

        <!-- <div id="show">
            <p>
                <label>Show Password</label>
                <input type="checkbox" onclick="myFunction()" id="check">
            </p>
        </div> -->
        
        <div id="Forget">
            <a id="forget" href="">Forgot your password?</a>
        </div>
        <div id="button">
            <button type="submit">LOG IN</button>
        </div>
    </div>

    <div id="full-border"></div>

    <div id="links">
        <p id="dont">Don't have an account?</p>
        <a href="" id="google">SIGN UP FOR SPOTIFY</a>
    </div>
    <script defer src="/script.js"></script>
    <router-outlet></router-outlet>
</body>
</html>
